body {
  background-image: url(./img/homepg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

tbody {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: hsla(20, 96%, 0%, 50%);
}

.top-landing-container {
  max-width: 600px;
  margin: auto;
  padding-top: 100px;
}

.landing-container {
  max-width: 600px;
  margin: auto;
  padding-top: 30px;
}

.study-btn {
  width: 900px;
  background-color: royalblue;
  color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(216, 214, 214, 0.3);
}

.study-btn:hover {
  box-shadow: 0 0 5px 2px rgba(231, 230, 230, 0.5);
}

.manage-btn {
  max-width: 100px;
  background-color: rgb(168, 185, 17);
  color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(216, 214, 214, 0.3);
}

.manage-btn:hover {
  box-shadow: 0 0 5px 2px rgba(231, 230, 230, 0.5);
}

#card-container {
  max-width: 1200px;
  margin: auto;
}

.card-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(216, 214, 214, 0.5);
  background-color: ivory;
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(231, 230, 230, 0.7);
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}
